body{
   
    background-color:whitesmoke ;
}
/* button 1 */

 button:hover{ 
    background-color: #FF0066; 
 }
 .navBtn {
    color: #ffffff;
    background: #4043bc;
  }

/* button 1 end */
/* button 2 */
.us{
    border-radius: 3px;
    background-color:#ff5c97;   
    color: white;
    padding: 10px;
    width: 180px;
    border: none

}
us:hover{
    background-color: #FF0066;
}
/* button 2 end */
/* business  */
.business{
    text-align: center;
}


p:hover{
    color: #7b40c0;
}

.icone{
    padding-left: 40px;
    padding-top: 40px;
} 
/* choose */
.choose{
    gap: 2px;
}
.card{
    border: none;
    padding: 40px;
}
.visit{
    border-radius: 20px;
}
h3:hover{
    color: #FF0066;
}
.started:hover{
    color: #7b40c0;
}
